@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */

:root {
  --primary-color: #023047;
  --secondary-color: #219ebc;
  --intuit-color: #168eca;
  --text-color: #ddd;
  --text-color-black-100: #292d32;
  --text-color-black-90: #3f4247;
  --text-color-black-80: #54575b;
  --text-color-black-70: #6a6c70;
  --text-color-black-60: #7f8184;
  --text-color-black-50: #939598;
  --text-color-black-40: #a9abad;
  --text-color-black-30: #bfc0c2;
  --text-color-black-20: #d4d5d6;
  --text-color-black-10: #eaeaeb;
  --text-color-black-5: #f4f4f4;

  /* #LEANEER COLORS */
  --leaner-color-1: #1d55b6;
  --leaner-color-2: #168bd0;
  --leaner-color-2: #cceef7;
  --leaner-color-3: #e6fbff;

  /* bg colors */
  --bg-white: #fff;
  --bg-color-0: #f8f8f8;
  --bg-color-1: #e9f6f9;

  --bg-color-2: rgba(33, 158, 188, 0.2);

  --bg-custom-cbx: #e9e9ea;
  --bg-custom-cbx-checked: #34c759;

  /*info colors */
  --info-color-1: #ff5e4c;
}

@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/Gotham-Light.otf") format("truetype");
  /* Add additional src lines if you have multiple font file formats */
}

@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/Gotham-Bold.otf") format("truetype");
  /* Add additional src lines if you have multiple font file formats */
}

@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/Gotham-Book.otf") format("truetype");
  /* Add additional src lines if you have multiple font file formats */
}

@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/Gotham-Medium.otf") format("truetype");
  /* Add additional src lines if you have multiple font file formats */
}

html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: inherit !important;
}

body {
  /* font-family: 'Gotham', serif !important; */

  font-style: normal;
  font-family: "Poppins" serif;
}

/* ALL ANCHORS */
a {
  text-decoration: none;
}

.dashboard-main {
  background-color: var(--text-color-black-5);
  height: 100vh;
}

/* UTILITY CLASSES */

.animated-change {
  opacity: 0.4;
}

.grid {
  display: grid;
}
.flex {
  display: flex;
}
.flex-coloum {
  flex-direction: column;
}
.align-center {
  align-items: center;
}

.just-end {
  justify-content: flex-end;
}
.just-between {
  justify-content: space-between;
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}
.grid-7 {
  grid-template-columns: repeat(7, 1fr);
}
.grid-8 {
  grid-template-columns: repeat(8, 1fr);
}
.grid-9 {
  grid-template-columns: repeat(9, 1fr);
}
.grid-10 {
  grid-template-columns: repeat(10, 1fr);
}
.grid-11 {
  grid-template-columns: repeat(11, 1fr);
}
.grid-12 {
  grid-template-columns: repeat(12, 1fr);
}
.grid-13 {
  grid-template-columns: repeat(13, 1fr);
}
.grid-14 {
  grid-template-columns: repeat(14, 1fr);
}
.grid-15 {
  grid-template-columns: repeat(15, 1fr);
}
.grid-16 {
  grid-template-columns: repeat(16, 1fr);
}
.grid-17 {
  grid-template-columns: repeat(17, 1fr);
}
.grid-18 {
  grid-template-columns: repeat(18, 1fr);
}
.grid-19 {
  grid-template-columns: repeat(19, 1fr);
}
.grid-20 {
  grid-template-columns: repeat(20, 1fr);
}
.grid-21 {
  grid-template-columns: repeat(21, 1fr);
}
.grid-22 {
  grid-template-columns: repeat(22, 1fr);
}
.grid-23 {
  grid-template-columns: repeat(23, 1fr);
}
.grid-24 {
  grid-template-columns: repeat(24, 1fr);
}
.grid-25 {
  grid-template-columns: repeat(25, 1fr);
}
.grid-26 {
  grid-template-columns: repeat(26, 1fr);
}
.grid-27 {
  grid-template-columns: repeat(27, 1fr);
}
.grid-28 {
  grid-template-columns: repeat(28, 1fr);
}
.grid-29 {
  grid-template-columns: repeat(29, 1fr);
}
.grid-30 {
  grid-template-columns: repeat(30, 1fr);
}
.grid-31 {
  grid-template-columns: repeat(31, 1fr);
}
.grid-32 {
  grid-template-columns: repeat(32, 1fr);
}
.grid-33 {
  grid-template-columns: repeat(33, 1fr);
}
.grid-34 {
  grid-template-columns: repeat(34, 1fr);
}
.grid-35 {
  grid-template-columns: repeat(35, 1fr);
}
.grid-36 {
  grid-template-columns: repeat(36, 1fr);
}
.grid-37 {
  grid-template-columns: repeat(37, 1fr);
}
.grid-38 {
  grid-template-columns: repeat(38, 1fr);
}
.grid-39 {
  grid-template-columns: repeat(39, 1fr);
}
.grid-40 {
  grid-template-columns: repeat(40, 1fr);
}
.grid-41 {
  grid-template-columns: repeat(41, 1fr);
}
.grid-42 {
  grid-template-columns: repeat(42, 1fr);
}
.grid-43 {
  grid-template-columns: repeat(43, 1fr);
}
.grid-44 {
  grid-template-columns: repeat(44, 1fr);
}
.grid-45 {
  grid-template-columns: repeat(45, 1fr);
}
.grid-46 {
  grid-template-columns: repeat(46, 1fr);
}
.grid-47 {
  grid-template-columns: repeat(47, 1fr);
}
.grid-48 {
  grid-template-columns: repeat(48, 1fr);
}
.grid-49 {
  grid-template-columns: repeat(49, 1fr);
}
.grid-50 {
  grid-template-columns: repeat(50, 1fr);
}
.grid-51 {
  grid-template-columns: repeat(51, 1fr);
}
.grid-52 {
  grid-template-columns: repeat(52, 1fr);
}
.grid-53 {
  grid-template-columns: repeat(53, 1fr);
}
.grid-54 {
  grid-template-columns: repeat(54, 1fr);
}
.grid-55 {
  grid-template-columns: repeat(55, 1fr);
}
.grid-56 {
  grid-template-columns: repeat(56, 1fr);
}
.grid-57 {
  grid-template-columns: repeat(57, 1fr);
}
.grid-58 {
  grid-template-columns: repeat(58, 1fr);
}
.grid-59 {
  grid-template-columns: repeat(59, 1fr);
}
.grid-60 {
  grid-template-columns: repeat(60, 1fr);
}
.grid-61 {
  grid-template-columns: repeat(61, 1fr);
}
.grid-62 {
  grid-template-columns: repeat(62, 1fr);
}
.grid-63 {
  grid-template-columns: repeat(63, 1fr);
}
.grid-64 {
  grid-template-columns: repeat(64, 1fr);
}
.grid-65 {
  grid-template-columns: repeat(65, 1fr);
}
.grid-66 {
  grid-template-columns: repeat(66, 1fr);
}
.grid-67 {
  grid-template-columns: repeat(67, 1fr);
}
.grid-68 {
  grid-template-columns: repeat(68, 1fr);
}
.grid-69 {
  grid-template-columns: repeat(69, 1fr);
}
.grid-70 {
  grid-template-columns: repeat(70, 1fr);
}
.grid-71 {
  grid-template-columns: repeat(71, 1fr);
}
.grid-72 {
  grid-template-columns: repeat(72, 1fr);
}
.grid-73 {
  grid-template-columns: repeat(73, 1fr);
}
.grid-74 {
  grid-template-columns: repeat(74, 1fr);
}
.grid-75 {
  grid-template-columns: repeat(75, 1fr);
}
.grid-76 {
  grid-template-columns: repeat(76, 1fr);
}
.grid-77 {
  grid-template-columns: repeat(77, 1fr);
}
.grid-78 {
  grid-template-columns: repeat(78, 1fr);
}
.grid-79 {
  grid-template-columns: repeat(79, 1fr);
}
.grid-80 {
  grid-template-columns: repeat(80, 1fr);
}
.grid-81 {
  grid-template-columns: repeat(81, 1fr);
}
.grid-82 {
  grid-template-columns: repeat(82, 1fr);
}
.grid-83 {
  grid-template-columns: repeat(83, 1fr);
}
.grid-84 {
  grid-template-columns: repeat(84, 1fr);
}
.grid-85 {
  grid-template-columns: repeat(85, 1fr);
}
.grid-86 {
  grid-template-columns: repeat(86, 1fr);
}
.grid-87 {
  grid-template-columns: repeat(87, 1fr);
}
.grid-88 {
  grid-template-columns: repeat(88, 1fr);
}
.grid-89 {
  grid-template-columns: repeat(89, 1fr);
}
.grid-90 {
  grid-template-columns: repeat(90, 1fr);
}
.grid-91 {
  grid-template-columns: repeat(91, 1fr);
}
.grid-92 {
  grid-template-columns: repeat(92, 1fr);
}
.grid-93 {
  grid-template-columns: repeat(93, 1fr);
}
.grid-94 {
  grid-template-columns: repeat(94, 1fr);
}
.grid-95 {
  grid-template-columns: repeat(95, 1fr);
}
.grid-96 {
  grid-template-columns: repeat(96, 1fr);
}
.grid-97 {
  grid-template-columns: repeat(97, 1fr);
}
.grid-98 {
  grid-template-columns: repeat(98, 1fr);
}
.grid-99 {
  grid-template-columns: repeat(99, 1fr);
}
.grid-100 {
  grid-template-columns: repeat(100, 1fr);
}
/* WIDTH */
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-70 {
  width: 70%;
}

/* MARGINS */
.p-10 {
  padding: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mt-32 {
  margin-top: 3.2rem;
}

.mt-40 {
  margin-top: 4rem;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-32 {
  margin-bottom: 3.2rem;
}
/* GAPS  */
.gap-1 {
  gap: 1px;
}
.gap-2 {
  gap: 2px;
}
.gap-3 {
  gap: 3px;
}
.gap-4 {
  gap: 4px;
}
.gap-6 {
  gap: 4px;
}
.gap-8 {
  gap: 8px;
}
.gap-10 {
  gap: 10px;
}
.gap-16 {
  gap: 1.6rem;
}
.gap-20 {
  gap: 2rem;
}
.gap-24 {
  gap: 2.4rem;
}
.gap-30 {
  gap: 3rem;
}

/* HEADINGS */

.section_heading {
  color: var(--text-color-black-100);
  font-family: "Gotham" !important;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}

/* SCROLLS STYLES */

.scrollable {
  overflow-x: auto;
}
/* RESPONSIVE DESIGN GENERALS RULES */

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 38%;
  }
}
