.navbar {
	padding: 1.6rem 2.4rem;
	background-color: #e9f6f9;

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 4rem;
	color: var(--text-color-black--90);
	font-family: 'Poppins' !important;
}
.navbar__title {
	font-size: 2rem;
	line-height: 100%;
	font-weight: 500;
	color: var(--text-color-black--100);
}
.quickbooks-sync {
	display: flex;
	align-items: center;
	gap: 1.6rem;
}
.quickbooks-sync__label {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
}
.quickbooks-sync__last-time {
	font-size: 13px;
	font-weight: 300;
	color: var(--text-color-black--80);
}
.quicbooks-sync__button {
	font-size: 12px;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s;
	background-color: transparent;
	border: 1px solid var(--text-color-black--80);
	display: flex;
	align-items: center;
	gap: 0.8rem;
}

.quicbooks-sync__button:active {
}
.navbar__user-img {
	cursor: pointer;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	object-fit: cover;
}
